In [1]:
import json

with open("../data/MMTab/MMTab-eval_test_data_49K.json") as f:
    data = json.load(f)

In [2]:
len(data)

49726

In [6]:
from collections import defaultdict

cnt = defaultdict(int)
for item in data:
    typ = item["original_query_type"]
    cnt[typ] += 1
cnt

defaultdict(int,
            {'table size detection': 1250,
             'table cell locating': 1250,
             'row and column extraction': 1250,
             'merged cell detection': 1000,
             'table cell extraction': 1250,
             'table recognition with HTML': 780,
             'table recognition with Latex': 106,
             'table recognition with Markdown': 114,
             'TABMWP_free_text': 5694,
             'TABMWP_multi_choice': 1992,
             'WTQ with the brief answer format': 4344,
             'FeTaQA with the long answer format': 2003,
             'HiTab with look-up': 1376,
             'HiTab with numerical reasoning': 200,
             'TAT-QA_span': 171,
             'TAT-QA_arithmetic': 497,
             'TAT-QA_multi-span': 92,
             'TAT-QA_count': 12,
             'TabFact simple statement': 2105,
             'TabFact complex statement': 4740,
             'InfoTabs_test_alpha1': 1800,
             'InfoTabs_test_alpha2': 1800,
             'InfoTabs_test_alpha3': 1800,
             'table-to-text with highlighted cells': 7700,
             'table-to-text with highlighted cells and operators': 1584,
             'table-to-text for game summary': 334,
             'table-to-text for biography': 1000,
             'TabMCQ multi-choice question': 1029,
             'AIT-QA_KPI-driven': 145,
             'AIT-QA_Table-driven': 366,
             'PubHealthTab': 1942})

In [11]:
for k in cnt.keys():
    for item in data:
       typ = item["original_query_type"]
       if typ == k:
           print("-" * 50)
           print(k)
           print(item)
           break

--------------------------------------------------
table size detection
{'item_id': 'TSD_test_item_0', 'image_id': 'TABMWP_21652', 'input': 'I need to know the count of rows and columns in this specific table. Format your final answer as a JSON, using the structure {"row_number": "m", "column_number": "n"}.', 'output': 'This table has 3 rows and 3 columns. Thus, the final answer is {"row_number": "3", "column_number": "3"}.', 'task_type': 'TSD', 'dataset_name': 'TABMWP', 'original_query': 'None', 'answer_list': [[3, 3]], 'original_query_type': 'table size detection'}
--------------------------------------------------
table cell locating
{'item_id': 'TCL_test_item_395', 'image_id': 'WTQ_204-csv_380', 'input': "Analyze the provided table and identify the locations of these cells:\n1. 'Raúl Hidalgo',\n2. '4th Evicted',\n3. 'Sonia Baby',\n4. 'Year',\n5. 'Bilbao',\nProvide the cell locations using the JSON format {'value': '<cell value>', 'location': (row index, column index)}, where row and column indices start from 1. Some cell values may not be contained in this table. If so, represent their locations as 'DOES NOT EXIST'.", 'output': "The coordinates of target cells are listed below.\n1. {'value': 'Raúl Hidalgo', 'location': (13, 1)}\n2. {'value': '4th Evicted', 'location': (15, 5)}\n3. {'value': 'Sonia Baby', 'location': (16, 1)}\n4. {'value': 'Year', 'location': 'DOES NOT EXIST'}\n5. {'value': 'Bilbao', 'location': (2, 2)}", 'task_type': 'TCL', 'dataset_name': 'WTQ', 'original_query': 'None', 'answer_list': ['(13, 1)', '(15, 5)', '(16, 1)', 'DOES NOT EXIST', '(2, 2)'], 'original_query_type': 'table cell locating'}
--------------------------------------------------
row and column extraction
{'item_id': 'RCE_test_item_486', 'image_id': 'HiTab_248_totto28105-2', 'input': 'Please provide the cell values contained in these columns of the table:\ncolumn 13\ncolumn 16\n\nRepresent the cells in a column with the JSON format {"column_id":"<column index>", "cell_list":"<a list of cells in this column>"}. For instance, {"column_id":"5", "cell_list": ["152", "UN", "one last kiss"]}.', 'output': 'The extracted column contents are listed below.\nFor column 13: {"column_id": "13", "cell_list": [\'\', \'lng\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\']}\nFor column 16: {"column_id": "16", "cell_list": [\'\', \'lost\', \'1\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'0\', \'1\']}', 'task_type': 'RCE', 'dataset_name': 'HiTab', 'original_query': 'None', 'answer_list': [['', 'lng', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['', 'lost', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1']], 'original_query_type': 'row and column extraction'}
--------------------------------------------------
merged cell detection
{'item_id': 'MCD_test_item_0', 'image_id': 'HiTab_2102', 'input': "The picture contains a table. You task is to identify any merged cells in this table, and output the scope of each merged cell using the JSON format of {'top-left':(x, y), 'bottom-right':(z, w)}. The row id and column id should start from 1.", 'output': "The merged cell regions are as follows:\n{'top-left':(1, 1), 'bottom-right':(2, 1)}\n{'top-left':(2, 2), 'bottom-right':(2, 5)}\n{'top-left':(3, 2), 'bottom-right':(3, 5)}\n{'top-left':(8, 2), 'bottom-right':(8, 5)}\n{'top-left':(11, 2), 'bottom-right':(11, 5)}\n{'top-left':(14, 2), 'bottom-right':(14, 5)}\n{'top-left':(17, 2), 'bottom-right':(17, 5)}\n{'top-left':(22, 2), 'bottom-right':(22, 5)}\n{'top-left':(25, 2), 'bottom-right':(25, 5)}.", 'task_type': 'MCD', 'dataset_name': 'HiTab', 'original_query': 'None', 'answer_list': ["{'top-left':(1, 1), 'bottom-right':(2, 1)}", "{'top-left':(2, 2), 'bottom-right':(2, 5)}", "{'top-left':(3, 2), 'bottom-right':(3, 5)}", "{'top-left':(8, 2), 'bottom-right':(8, 5)}", "{'top-left':(11, 2), 'bottom-right':(11, 5)}", "{'top-left':(14, 2), 'bottom-right':(14, 5)}", "{'top-left':(17, 2), 'bottom-right':(17, 5)}", "{'top-left':(22, 2), 'bottom-right':(22, 5)}", "{'top-left':(25, 2), 'bottom-right':(25, 5)}"], 'original_query_type': 'merged cell detection'}
--------------------------------------------------
table cell extraction
{'item_id': 'TCE_test_item_26', 'image_id': 'TABMWP_13894', 'input': 'Based on the table image, extract the value of the cell located in the subsequent postion:\nthe 4th row and the 1st column\n\nShow the cell value in the JSON format {"row_id":"m", "column_id":"n", "cell_value":"<Corresponding Cell Value>"}.', 'output': 'The target cell value in the 4th row and the 1st column is {"row_id":"4", "column_id":"1", "cell_value":"7"}.', 'task_type': 'TCE', 'dataset_name': 'TABMWP', 'original_query': 'None', 'answer_list': ['7'], 'original_query_type': 'table cell extraction'}
--------------------------------------------------
table recognition with HTML
{'item_id': 'table_recognition_test_item_0', 'image_id': 'HiTab_178_totto21176-4', 'input': 'Given a table image, can you convert the table into an HTML table in the text form?', 'output': '<table border="1" cellspacing="0">\n<tr> <td rowspan="2"> year </td> <td rowspan="2"> team </td> <td colspan="2"> games </td> <td colspan="5"> receiving </td> <td colspan="5"> rushing </td> <td colspan="5"> returning </td> <td colspan="2"> fumbles </td> </tr>\n<tr> <td> gp </td> <td> gs </td> <td> rec </td> <td> yds </td> <td> avg </td> <td> lng </td> <td> td </td> <td> att </td> <td> yds </td> <td> avg </td> <td> lng </td> <td> td </td> <td> ret </td> <td> yds </td> <td> avg </td> <td> lng </td> <td> td </td> <td> fum </td> <td> lost </td> </tr>\n<tr> <td> 2012 </td> <td> dal </td> <td> 10 </td> <td> 0 </td> <td> 15 </td> <td> 128 </td> <td> 8.5 </td> <td> 20 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td> 2013 </td> <td> dal </td> <td> 14 </td> <td> 3 </td> <td> 39 </td> <td> 368 </td> <td> 9.4 </td> <td> 23 </td> <td> 2 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 11 </td> <td> 79 </td> <td> 7.2 </td> <td> 14 </td> <td> 0 </td> <td> 1 </td> <td> 0 </td> </tr>\n<tr> <td> 2014 </td> <td> dal </td> <td> 16 </td> <td> 2 </td> <td> 37 </td> <td> 420 </td> <td> 11.4 </td> <td> 45 </td> <td> 4 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 2 </td> <td> 2 </td> </tr>\n<tr> <td> 2015 </td> <td> dal </td> <td> 16 </td> <td> 3 </td> <td> 52 </td> <td> 536 </td> <td> 10.3 </td> <td> 30 </td> <td> 5 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 12 </td> <td> 69 </td> <td> 5.8 </td> <td> 22 </td> <td> 0 </td> <td> 2 </td> <td> 2 </td> </tr>\n<tr> <td> 2016 </td> <td> dal </td> <td> 16 </td> <td> 6 </td> <td> 75 </td> <td> 833 </td> <td> 11.1 </td> <td> 47 </td> <td> 5 </td> <td> 1 </td> <td> 7 </td> <td> 7.0 </td> <td> 7 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td> 2017 </td> <td> dal </td> <td> 15 </td> <td> 4 </td> <td> 36 </td> <td> 314 </td> <td> 8.7 </td> <td> 54 </td> <td> 4 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 2 </td> <td> 19 </td> <td> 9.5 </td> <td> 15 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td> 2018 </td> <td> dal </td> <td> 16 </td> <td> 4 </td> <td> 65 </td> <td> 672 </td> <td> 10.3 </td> <td> 32 </td> <td> 3 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 12 </td> <td> 69 </td> <td> 5.8 </td> <td> 14 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td colspan="2"> career </td> <td> 103 </td> <td> 22 </td> <td> 319 </td> <td> 3,271 </td> <td> 54 </td> <td> 10.3 </td> <td> 23 </td> <td> 1 </td> <td> 7 </td> <td> 7.0 </td> <td> 7 </td> <td> 0 </td> <td> 40 </td> <td> 239 </td> <td> 6.0 </td> <td> 22 </td> <td> 0 </td> <td> 5 </td> <td> 4 </td> </tr>\n</table>', 'task_type': 'TR', 'dataset_name': 'HiTab', 'original_query': '', 'answer_list': ['<table border="1" cellspacing="0">\n<tr> <td rowspan="2"> year </td> <td rowspan="2"> team </td> <td colspan="2"> games </td> <td colspan="5"> receiving </td> <td colspan="5"> rushing </td> <td colspan="5"> returning </td> <td colspan="2"> fumbles </td> </tr>\n<tr> <td> gp </td> <td> gs </td> <td> rec </td> <td> yds </td> <td> avg </td> <td> lng </td> <td> td </td> <td> att </td> <td> yds </td> <td> avg </td> <td> lng </td> <td> td </td> <td> ret </td> <td> yds </td> <td> avg </td> <td> lng </td> <td> td </td> <td> fum </td> <td> lost </td> </tr>\n<tr> <td> 2012 </td> <td> dal </td> <td> 10 </td> <td> 0 </td> <td> 15 </td> <td> 128 </td> <td> 8.5 </td> <td> 20 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td> 2013 </td> <td> dal </td> <td> 14 </td> <td> 3 </td> <td> 39 </td> <td> 368 </td> <td> 9.4 </td> <td> 23 </td> <td> 2 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 11 </td> <td> 79 </td> <td> 7.2 </td> <td> 14 </td> <td> 0 </td> <td> 1 </td> <td> 0 </td> </tr>\n<tr> <td> 2014 </td> <td> dal </td> <td> 16 </td> <td> 2 </td> <td> 37 </td> <td> 420 </td> <td> 11.4 </td> <td> 45 </td> <td> 4 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 2 </td> <td> 2 </td> </tr>\n<tr> <td> 2015 </td> <td> dal </td> <td> 16 </td> <td> 3 </td> <td> 52 </td> <td> 536 </td> <td> 10.3 </td> <td> 30 </td> <td> 5 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 12 </td> <td> 69 </td> <td> 5.8 </td> <td> 22 </td> <td> 0 </td> <td> 2 </td> <td> 2 </td> </tr>\n<tr> <td> 2016 </td> <td> dal </td> <td> 16 </td> <td> 6 </td> <td> 75 </td> <td> 833 </td> <td> 11.1 </td> <td> 47 </td> <td> 5 </td> <td> 1 </td> <td> 7 </td> <td> 7.0 </td> <td> 7 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td> 2017 </td> <td> dal </td> <td> 15 </td> <td> 4 </td> <td> 36 </td> <td> 314 </td> <td> 8.7 </td> <td> 54 </td> <td> 4 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 2 </td> <td> 19 </td> <td> 9.5 </td> <td> 15 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td> 2018 </td> <td> dal </td> <td> 16 </td> <td> 4 </td> <td> 65 </td> <td> 672 </td> <td> 10.3 </td> <td> 32 </td> <td> 3 </td> <td> 0 </td> <td> 0 </td> <td> 0.0 </td> <td> 0 </td> <td> 0 </td> <td> 12 </td> <td> 69 </td> <td> 5.8 </td> <td> 14 </td> <td> 0 </td> <td> 0 </td> <td> 0 </td> </tr>\n<tr> <td colspan="2"> career </td> <td> 103 </td> <td> 22 </td> <td> 319 </td> <td> 3,271 </td> <td> 54 </td> <td> 10.3 </td> <td> 23 </td> <td> 1 </td> <td> 7 </td> <td> 7.0 </td> <td> 7 </td> <td> 0 </td> <td> 40 </td> <td> 239 </td> <td> 6.0 </td> <td> 22 </td> <td> 0 </td> <td> 5 </td> <td> 4 </td> </tr>\n</table>'], 'original_query_type': 'table recognition with HTML'}
--------------------------------------------------
table recognition with Latex
{'item_id': 'table_recognition_test_item_15', 'image_id': 'TabFact_2-12475284-5.html.csv', 'input': 'Please review this table image and return a text representation of the table in the latex format.', 'output': '\\begin{tabular}{|c|c|c|c|c|}\n\\hline\n place & player & country & score & to par   \\\\\n\\hline\n t1 & billy andrade & united states & 67 + 69 = 136 & - 8   \\\\\n\\hline\n t1 & luke donald & england & 68 + 68 = 136 & - 8   \\\\\n\\hline\n t1 & henrik stenson & sweden & 68 + 68 = 136 & - 8   \\\\\n\\hline\n t1 & tim herron & united states & 69 + 67 = 136 & - 8   \\\\\n\\hline\n t5 & davis love iii & united states & 68 + 69 = 137 & - 7   \\\\\n\\hline\n t5 & geoff ogilvy & australia & 69 + 68 = 137 & - 7   \\\\\n\\hline\n t5 & tiger woods & united states & 69 + 68 = 137 & - 7   \\\\\n\\hline\n t8 & fred funk & united states & 69 + 69 = 138 & - 6   \\\\\n\\hline\n t8 & billy mayfair & united states & 69 + 69 = 138 & - 6   \\\\\n\\hline\n t8 & chris riley & united states & 66 + 72 = 138 & - 6   \\\\\n\\hline\n t8 & david toms & united states & 71 + 67 = 138 & - 6   \\\\\n\\hline\n\\end{tabular}', 'task_type': 'TR', 'dataset_name': 'TabFact', 'original_query': '', 'answer_list': ['\\begin{tabular}{|c|c|c|c|c|}\n\\hline\n place & player & country & score & to par   \\\\\n\\hline\n t1 & billy andrade & united states & 67 + 69 = 136 & - 8   \\\\\n\\hline\n t1 & luke donald & england & 68 + 68 = 136 & - 8   \\\\\n\\hline\n t1 & henrik stenson & sweden & 68 + 68 = 136 & - 8   \\\\\n\\hline\n t1 & tim herron & united states & 69 + 67 = 136 & - 8   \\\\\n\\hline\n t5 & davis love iii & united states & 68 + 69 = 137 & - 7   \\\\\n\\hline\n t5 & geoff ogilvy & australia & 69 + 68 = 137 & - 7   \\\\\n\\hline\n t5 & tiger woods & united states & 69 + 68 = 137 & - 7   \\\\\n\\hline\n t8 & fred funk & united states & 69 + 69 = 138 & - 6   \\\\\n\\hline\n t8 & billy mayfair & united states & 69 + 69 = 138 & - 6   \\\\\n\\hline\n t8 & chris riley & united states & 66 + 72 = 138 & - 6   \\\\\n\\hline\n t8 & david toms & united states & 71 + 67 = 138 & - 6   \\\\\n\\hline\n\\end{tabular}'], 'original_query_type': 'table recognition with Latex'}
--------------------------------------------------
table recognition with Markdown
{'item_id': 'table_recognition_test_item_35', 'image_id': 'TabFact_1-27225944-3.html.csv', 'input': 'Read the shown table in this image and give me the reconstructed table in the markdown text format.', 'output': '| team | outgoing manager | manner of departure | date of vacancy | replaced by | date of appointment | position in table |\n| --- | --- | --- | --- | --- | --- | --- |\n| rnk split | tonći bašić | removed from position | 2 2010 | ivan katalinić | 2 2010 | pre - season |\n| slaven belupo | zlatko dalić | mutual consent | 2 2010 | mile petković | 7 2010 | pre - season |\n| istra 1961 | ante miše | sacked | 3 2010 | robert jarni | 4 2010 | 16th |\n| lokomotiva | roy ferenčina | mutual consent | 2 2010 | ljupko petrović | 2 2010 | 12th |\n| hrvatski dragovoljac | damir biškup | removed from position | 3 2010 | ivan pudar | 3 2010 | 15th |\n| rijeka | nenad gračan | mutual consent | 6 2010 | elvis scoria | 8 2010 | 6th |\n| hrvatski dragovoljac | ivan pudar | mutual consent | 7 2010 | davor mladina | 7 2010 | 16th |', 'task_type': 'TR', 'dataset_name': 'TabFact', 'original_query': '', 'answer_list': ['| team | outgoing manager | manner of departure | date of vacancy | replaced by | date of appointment | position in table |\n| --- | --- | --- | --- | --- | --- | --- |\n| rnk split | tonći bašić | removed from position | 2 2010 | ivan katalinić | 2 2010 | pre - season |\n| slaven belupo | zlatko dalić | mutual consent | 2 2010 | mile petković | 7 2010 | pre - season |\n| istra 1961 | ante miše | sacked | 3 2010 | robert jarni | 4 2010 | 16th |\n| lokomotiva | roy ferenčina | mutual consent | 2 2010 | ljupko petrović | 2 2010 | 12th |\n| hrvatski dragovoljac | damir biškup | removed from position | 3 2010 | ivan pudar | 3 2010 | 15th |\n| rijeka | nenad gračan | mutual consent | 6 2010 | elvis scoria | 8 2010 | 6th |\n| hrvatski dragovoljac | ivan pudar | mutual consent | 7 2010 | davor mladina | 7 2010 | 16th |'], 'original_query_type': 'table recognition with Markdown'}
--------------------------------------------------
TABMWP_free_text
{'item_id': 'TABMWP_8', 'image_id': 'TABMWP_8', 'input': 'Problem: \nHannah baked cookies each day for a bake sale. How many more cookies did Hannah bake on Saturday than on Sunday? (Unit: cookies)\nSolve the above problem based on the table titled \'Cookies baked\'. Provide a concluding answer in a JSON structure, using the format {"answer": "<YOUR ANSWER>"}.', 'output': 'Find the numbers in the table.\n\nSaturday: 281\nSunday: 263\n\nNow subtract: 281 - 263 = 18.\n\nHannah baked 18 more cookies on Saturday.\n\nTherefore, the final answer is {"answer": "18"}.', 'task_type': 'TQA', 'dataset_name': 'TABMWP', 'original_query': 'Hannah baked cookies each day for a bake sale. How many more cookies did Hannah bake on Saturday than on Sunday?', 'answer_list': ['18'], 'original_query_type': 'TABMWP_free_text'}
--------------------------------------------------
TABMWP_multi_choice
{'item_id': 'TABMWP_25', 'image_id': 'TABMWP_25', 'input': 'Given the table about \'Coin collections\', solve the following math problem step by step. Conclude your response with a final answer in the JSON format {"answer": "<YOUR ANSWER>"}.\nSome friends discussed the sizes of their coin collections. Who has the most coins? (A) Erica (B) Hunter (C) Damon (D) Larry', 'output': 'Find the greatest number in the table. Remember to compare the numbers starting with the highest place value. The greatest number is 663.\n\nNow find the corresponding name. Hunter corresponds to 663.\n\nSo, the answer is {"answer": "Hunter"}.', 'task_type': 'TQA', 'dataset_name': 'TABMWP', 'original_query': 'Some friends discussed the sizes of their coin collections. Who has the most coins?', 'answer_list': ['Hunter'], 'original_query_type': 'TABMWP_multi_choice'}
--------------------------------------------------
WTQ with the brief answer format
{'item_id': 'WTQ_nu-0', 'image_id': 'WTQ_203-csv_733', 'input': 'Analyze the table image which is related to \'2008 Clásica de San Sebastián\' and write a brief answer to the question that follows. Show your answer in the JSON format {"answer": [<a list of answer strings>]}.\nwhich country had the most cyclists finish within the top 10?', 'output': 'Based on the table, the final answer is {"answer": [\'Italy\']}.', 'task_type': 'TQA', 'dataset_name': 'WTQ', 'original_query': 'which country had the most cyclists finish within the top 10?', 'answer_list': ['Italy'], 'original_query_type': 'WTQ with the brief answer format'}
--------------------------------------------------
FeTaQA with the long answer format
{'item_id': 'FeTaQA_2206', 'image_id': 'FeTaQA_dev_example-2205', 'input': "Conduct table question answering task based on the given table about 'Shagun Sharma' with the table title 'Television'.\nWhat TV shows was Shagun Sharma seen in 2019?", 'output': 'In 2019, Shagun Sharma played in the roles as Pernia in Laal Ishq, Vikram Betaal Ki Rahasya Gatha as Rukmani/Kashi and Shaadi Ke Siyape as Dua.', 'task_type': 'TQA', 'dataset_name': 'FeTaQA', 'original_query': 'What TV shows was Shagun Sharma seen in 2019?', 'answer_list': ['In 2019, Shagun Sharma played in the roles as Pernia in Laal Ishq, Vikram Betaal Ki Rahasya Gatha as Rukmani/Kashi and Shaadi Ke Siyape as Dua.'], 'original_query_type': 'FeTaQA with the long answer format'}
--------------------------------------------------
HiTab with look-up
{'item_id': 'HiTab_c26dd7d31e73948ab9deb29ca1fc89ef', 'image_id': 'HiTab_100', 'input': 'Observe the excel table screenshot named \'agri-food industry sub-groups for workers aged 15 years and over, two agricultural regions of ontario, 2011\' and succinctly answer the question that follows. Present the final answer in a JSON format {"answer": [<a list of answer strings>]} like {"answer": ["2.27", "41.4"]}.\nin eastern ontario, what percent of french-language workers have worked in the restaurant and food services sector?', 'output': 'Based on the table information, the final answer is {"answer": ["52.1"]}.', 'task_type': 'TQA', 'dataset_name': 'HiTab', 'original_query': 'in eastern ontario, what percent of french-language workers have worked in the restaurant and food services sector?', 'answer_list': ['52.1'], 'original_query_type': 'HiTab with look-up'}
--------------------------------------------------
HiTab with numerical reasoning